# OpenRouter API configuration
OPENROUETER_BASE_URL=https://openrouter.ai/api/v1/chat/completions
OPENROUTER_API_KEY=...
OPENROUTER_MODEL=google/gemma-4-31b-it:free

# Adzuna API configuration
ADZUNA_APP_ID=...
ADZUNA_APP_KEY=...
ADZUNA_COUNTRY=it